body {
background-color: #e8faf2;
font-family: Verdana, sans-serif;
}

.header {
    overflow: hidden;

    padding: 20px 10px;
}
.header a {
    background-color: #00f;
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 30px 30px;
    text-decoration: none;
    font-size: 17px;
}
.header a:hover {
    background-color: #ddd;
    color: blue;
}
.header a.active {
    background-color: #04AA6D;
    color: white;
}

.options{
   display: block;
   margin: auto;
   width: 50%;
}

.options a{
    background-color: #5e5eff;
    float: center;
    color: #f2f2f2;
    text-align: center;
    padding: 20px 20px;
    font-size: 16px;
}

.title {
  display: block;
   margin: auto;
   width: 50%;
}

.contactForm {
 display: block;
  margin-left: 250px;
}

.formTitle {
 display: block;
  margin-left: 250px;
}

button{
    background-color: #4d4dff;
    outline-color: #4d4dff;
    color: white;
}

button:hover {
    background-color: #04AA6D;
    outline-color: #04AA6D;
    color: white;
}

button:active {
 box-shadow: 0 3px #666;
  transform: translateY(2px);
  }




