<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Covid Case Contact</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <script src=""></script>
  <script src=""></script>
</head>
<body>
<p>
  <b>COVID-19 Contact Information Form</b>
</p>

<form id="createContact">
  First Name: <input type="text" id="fName"> <br>
  Last Name: <input type="text" id="lName"> <br>
  Email: <input type="text" id="email"> <br>
  Phone Number: <input type="text" id="pNumber"> <br>
  Exposure Date: <input type="text" id="expDate"> <br>
  Case ID: <input type="text" id="caseID"> <br>

  <button type="button" id="missingInfo">Contacts Missing Info</button>
  <button type="button" id="haveSymptoms">Have Symptoms</button>
  <button type="button" id="help">Help</button>
</form>

</body>
</html>