<!DOCTYPE html>
<html lang="en">
<head>
    <title>Public Health Unit Login</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="/login.js"></script>
    <link rel="stylesheet" type="text/css" href="/stylesheet.css">
</head>
<div class="header">
    <img src="/images/Logo.jpg" class="logo" width="150" height="80" align="left">
    <div class ="items">
        <a href="/">Home</a>
        <a class="active" href="/login">Public Health Unit Login</a>
        <a href="/questionnaire">Questionnaire</a>
    </div>
</div>
<body>
    <h1>Please enter your login information to enter the public health unit interface</h1>
    <div id="error" style="display: none;">
        <p style="color:red"> Incorrect login information or you have completed the survey.</p>
    </div>
    <div class="login">
        <b>Username:</b> <br> <input type="text" placeholder="Enter Username" id="username"> <br> <br>
        <b>Password:</b> <br> <input type="password" placeholder="Enter Password" id="password"> <br> <br>
        <button type="button" id="submit" onclick="authenticate();">Login</button>
    </div>

</body>
</html>