<!DOCTYPE html>
<html>
<head>
    <title>Daily Questionnaire</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="/questionnaire.js"></script>
    <link rel="stylesheet" type="text/css" href="stylesheet.css">
</head>
<div class="header">
    <img src="/images/Logo.jpg" class="logo" width="150" height="125" align="left">
    <div class ="items">
        <a href="/">Home</a>
        <a href="/contactform">Public Health Unit Login</a>
        <a class="active" href="/questionnaire">Questionnaire</a>
    </div>
</div>
<body>
<div id="user_input">
    <p>Name: <input type="text" id="name"/></p>
    <p>Case ID: <input type="text" id="caseID"/></p>
    <input type="button" value="Submit" id="nameCheck" onclick="findContact();">
</div>
<div id="error" style="display: none;">
    <p style="color:red"> Case not found. Please try again</p>
</div>
<div id="form" style="display: none">
    <h1>Fill out the questionnaire</h1>
    <form>
        <label for="remain"> Since yesterday's questionnaire, have you remained inside your residence? </label>
        <select name = "remain" id = "remain">
            <option value="" selected disabled hidden>Choose here</option>
            <option value = "Yes"> Yes </option>
            <option value = "No"> No </option>
        </select>
        <br><br>
        <label for="needSupport"> Do you need any support to adhere to self-isolation? </label>
        <select name = "needSupport" id = "needSupport">
            <option value="" selected disabled hidden>Choose here</option>
            <option value = "Yes"> Yes </option>
            <option value = "No"> No </option>
            <script>
                document.getElementById("needSupport").addEventListener("change", function(){
                    if ($('#needSupport').val() == "Yes")
                    {
                        $('#possibleHelp').show();
                    }
                    else
                    {
                        $('#possibleHelp').hide();
                    }
                })
            </script>
        </select>
        <br><br>
        <div id="possibleHelp" style="display: none">
        <label for="typeOfSupport"> What kind of support do you need to adhere to self-isolation? </label>
        <select name = "typeOfSupport" id = "typeOfSupport">
            <option value="" selected disabled hidden>Choose here</option>
            <option value = "food"> Food/Groceries </option>
            <option value = "meds"> Medications/Prescriptions </option>
            <option value = "pet"> Pet Care </option>
        </select>
        </div>
        <br><br>
        <label for="symptoms"> Are you experiencing any symptoms? </label>
        <select name = "symptoms" id = "symptoms">
            <option value="" selected disabled hidden>Choose here</option>
            <option value = "Yes"> Yes </option>
            <option value = "No"> No </option>
        </select>
        <br><br><br>
        <input type="button" value="Submit questionnaire" onclick="filledOut();"/>
    </form>
    <p><a href="/">Return to Menu</a></p>
</div>
</body>
</html>